*{
    margin:0px
}

#img1{
    height: 25em;
width: 80em;
display: flex;
position: absolute;
align-items: center;

}
h1{
    position: absolute;
    font-size: 5.5em;
    color:rgb(154, 130, 130);
    font-weight: 5000;
    margin-left: 5%;
    
}
body{
    background-color: rgb(255, 254, 254);
    
}
#img2{
    position: absolute;
    height: 20em;
   margin-left: 50%;
}
.container a{
    display: block;
    position: absolute;
    text-decoration: none;
    color: black;
     margin-left: 0.5%; 
    font-weight:bolder;
    font-size: 100%; 
    margin-left: 93%;
}
.container a:hover{
    font-size: 110%;
    color:rgb(0, 0, 0);
    border: 2px solid black;

}
.container2 img{
    height: 10em;
    position: absolute;
}